[submodule "include/CopellaRobotics/remoteApi"]
	path = include/CopellaRobotics/remoteApi
	url = https://github.com/CoppeliaRobotics/remoteApi.git
[submodule "include/CopellaRobotics/include"]
	path = include/CopellaRobotics/include
	url = https://github.com/CoppeliaRobotics/include.git
[submodule "include/CopellaRobotics/remoteApiBindings"]
	path = include/CopellaRobotics/remoteApiBindings
	url = https://github.com/CoppeliaRobotics/remoteApiBindings.git
